{% extends 'base.html' %}

{% block center %}
<h2> Lista de Reservas</h2>

<a href="{% url 'reserva_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Categoria</th>
      <th>Quitado</th>
    </tr>
  </thead>
  <tbody>
    {% for reserva in reservas %}  
    <tr>
      <td>{{ reserva.nome_empresa }}</td>
      <td>{{ reserva.cnpj }}</td>
      <td>{{ reserva.categoria_empresa }}</td>
      <td>{% if reserva.quitado == True %} Quitado {% else %} Pendente {% endif %}</td>
      <td>
        <a href="{% url 'reserva_remover' id=reserva.id %}" class="btn btn-danger btn-sm">Remover</a>
        <a href="{% url 'detalhe' id=reserva.id %}" class="btn btn-primary btn-sm">visualizar</a>
      </td>
    </tr>
    {% endfor %}
  
  </tbody>
</table>
{% endblock %}
